extends layout.pug

block content
  h2=title
  form(name='userForm')
    div.form-group.my-2
      label(for='name')
        | Name:
      input.form-control(name='name' id='name')
    div.form-group.my-2
      label(for='age')
        | Age:
      input.form-control(name='age' id='age')
    div.panel-body.my-4
      button.btn.btn-sm.btn-primary.px-3.py-1.mr-3(type='submit')
        | Save
      button.btn.btn-sm.btn-primary.px-3.py-1(type='reset')
        | Reset
  a(href='/') Back to users list


